body {
    background-color: #e1e1df;
}

.App-header {
  background-color: #2e2e2d;
  height: 75px;
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  color: #f1f1f1;
  text-align: left;
  position: fixed;
  z-index: 99;
}

.App-header span {
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;  
  color: #ccbe1d;
  font-size: 2.5rem;
}

.App-title {
  font-family: 'Special Elite', cursive;
  font-size: 2.5rem;
  margin: auto;
}

